@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}
/* html{
    scroll-behavior: smooth;
} */
section{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
#home-section{
    background: #222831;    
    margin-top: 60px;
}

.nav-wrapper{
    width: 100%;
    height: 60px;
    background: #222831;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.logo{
    height: 60px;
}
.logo .logo-text{
    font-weight: 600;
    font-size: 30px;
    z-index: 200;
}
.side-nav ul{
    list-style: none;   
    padding-top: 15px;
}
.side-nav ul li{
    margin-right: 30px;
    /* background-color: aquamarine; */
    /* padding-bottom: 5px; */
    position: relative ;
}
.side-nav ul li:last-child{
    margin-right: 0;
}
/* creating horizontal hover lines */
.side-nav ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    /* right: 100; */
    background: #00ADB5;
    width: 2%;
    height: 2%;
    transition: 10s ease;
}
.side-nav ul li a:hover::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    bottom: 0%;
    /* right: 100; */
    background: #00ADB5;
    width: 100%;
    height: 4%;
    transition: 10s ease;
    transition-delay: 0.5s;
}
.home-text{
    font-weight: 600;
}
.sidebar-toggler-button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.sidebar-toggler-button 
.upper-line,
.middle-line,
.lower-line{
    height: 3px;
    width: 100%;
    background: #fff;
    margin-top: 7px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}
.sidebar-toggler-button 
.upper-line{
    margin-top: 0;
}
/* .inverter-btn {
    width: 85px;
    height: 26px;
    border: none;
    border-radius: 18px;
    background: #00ADB5;
} */

/* hero-section-css */
.bannerHolder{
    width: 100%;
    /* min-height: 82vh; */
}
.row{
    overflow-x: hidden;
}
.am-text{
    color: #00ADB5;
}
.hero-title-name{
    font-weight: 700;
    color: #00ADB5;
}
.hero-desc{
    font-size: small;
}
.myImg{
    max-width: 500px;
    max-height: 500px;
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;   
}
@keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
      transform: translatey(-20px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
  }
/* about-section-css */
.aboutSection{
    background-color: #222831;
}
.aboutDesc li{
    position: relative;
}
.inner::before{
    content: '';
    position: absolute;
    top: 22px;
    left: -12.5px;
    /* right: 10px; */
    width: 1px;
    height: 80%;
    background: lightslategrey;
}
/* .aboutDesc li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #fff;
} */
/* Skills-Section-CSS */
#skills-section{
    background-color: #222831;
}
.skillsProgress{
    margin-bottom: 30px;
}
.skillsProgress:hover .progress-bar{
    width: 100% !important;
}
.progress-bar{
    background: #00ADB5;
}.reactIcon{
    animation: rotateIcon 6s linear;
    animation-iteration-count: infinite;
}
@keyframes rotateIcon {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* Projects-Section-CSS */
#projects-section{
    background-color: #222831;
}
.projectCard{
    width: 100%;
    min-height: 10rem;
    background: lightgrey;
    padding: 13px 18px;
    position: relative;
    overflow-y: hidden;
}
.repoDesc,
.repoTechnologies,
.repoLink{
    margin-left: 38px;
    font-size: 14px;
}
.cardCover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #00ADB5;
    opacity: 0.8;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projectCard:hover .cardCover{
    top: 0;
}
/* Contact-Section-CSS */
#contact-section{
    background-color: #222831;
}
.contactSectionUl{
    list-style-type: none;
}
/* Footer-CSS */
.footer{
    width: 100%;
    min-height: 12vh;
    background: #222831;
    border-top: 1px solid whitesmoke;
}
.social-ul{
    list-style-type: none;
}
.social-ul li{
    margin-right: 40px;
}
.social-ul li a{
    font-size: 22px;
}
.heroBtns{
    border: 3px solid #00ADB5;
    /* border: 2px solid whitesmoke; */
    background-color: #222831;
    padding: 6px 25px;
}
.heroBtns:hover{
    background-color: #00ADB5;
    border: 3px solid whitesmoke;
}
.heroBtns a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
@media only screen and (max-width:768px){
    .side-nav{
        position: fixed;
        transform: translateY(-100%);
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: lightseagreen;
        display: flex;
        justify-content: center;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .side-nav ul{
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .side-nav ul li{
        display: block;
        /* width: 100%; */
        /* margin-top: 45px; */
        margin-bottom: 20%;
        border-bottom: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    .side-nav ul li a{
        font-size: larger;
    }
    .sidebar-toggler-button{
        display: block;
        position: fixed;
        right: 30px;
        top: 20px;
        z-index: 100;
        transition: 0.2s ease-in-out;
    }
    #side-bar-toggle:checked ~ .side-nav{
        transform: translateY(0);
    }
    #side-bar-toggle:checked ~ .sidebar-toggler-button 
    .upper-line{
        transform: rotate(135deg);
        margin-top: 12px;
    }
    #side-bar-toggle:checked ~ .sidebar-toggler-button 
    .middle-line{
        opacity: 0;
    }
    #side-bar-toggle:checked ~ .sidebar-toggler-button 
    .lower-line{
        transform: rotate(-135deg);
        margin-top: -13px;
    }
    .banner-flexer{
        flex-direction: column-reverse;
        column-gap: 300px;
    }
    .hero-data{
        margin: 30px 0px 20px 0px;
    }
    .myImg{
        padding-top: 20px;
    }
    .aboutFlexer{
        padding: 40px 0px;
    }
    .contactFlexer{
        flex-direction: column-reverse;
    }
    .formArea{
        padding-bottom: 40px;
    }
    .contactImgHolder{
        padding-bottom: 30px;
    }
    .social-ul li{
        margin-right: 30px;
    }
}
@media only screen and (max-width:375px){
    .hero-data{
        margin-top: 25px;
    }
    .buttonsFlexer{
        flex-direction: column;   
        align-items: flex-start;
    }
    .buttonsFlexer .heroBtns{
        margin-bottom: 15px;
    }
    .social-ul li{
        margin-right: 20px;
    }
    
    
}